.back-button {
  padding: 6px 0px; /* smaller button */
  color: #999;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  min-width: 40px; /* force width for alignment */
  text-align: left;
}

.back-button:hover {
  color: #333;
}
